.ShoesPage {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shoes-gallery {
  display: flex; 
  flex-wrap: wrap;
  gap: 2rem; 
  width: 70%;
  padding: 2rem 0;
  justify-content: center; 
}


