.ShoePage {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditButton {
  background-color: #2260e6;
  border: 1px solid #4b8df0;
  box-shadow: 0px 6px 0px #0e00d3;
  height: 50%;
  width: auto;
}

.DeleteButton {
  background-color: #e62222;
  border: 1px solid #f04b4b;
  box-shadow: 0px 6px 0px #d30000;
  width: auto;
}

