.ContactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ContactInfo h2 {
  font-size: 1.8rem;
  color: #333;
  white-space: nowrap;
}

.ContactInfo p {
  font-size: 1.2rem;
  color: #555;
  white-space: nowrap;
}

.ContactInfo p span {
  font-weight: bold;
}