.cart-container {
  padding: 2rem;
  max-width: 80rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.cart-container h2 {
  font-size: 4rem;
  font-family: var(--unique-font-family);
}
.empty-message {
  font-size: 2rem;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.cart-item-image {
  width: 10rem;
  height: auto;
  margin-right: 2rem;
}

.cart-item-details {
  flex: 1;
}

.cart-item-name {
  font-size: 1.4em;
  margin-bottom: 1rem;
}

.cart-item-info {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cart-item-price {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.add-to-cart-btn {
 background-color: rgb(250, 101, 101);
 border: none;
 padding: 0.5rem;
 border-radius: 0.5rem;
 box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.158);
 cursor: pointer;
 transition: var(--transition);
 margin-right: 1rem;
}
 .buy {
  background-color: rgb(48, 202, 48);
  transform: scale(1);
}

.add-to-cart-btn:hover {
  background-color: rgb(253, 253, 253);
  color: red;
  box-shadow: 1px 1px 10px 1px rgba(255, 1, 1, 0.534);
}
.buy:hover {
 color: rgb(4, 151, 4);
 background-color: white;
 box-shadow: 1px 1px 10px 1px rgba(1, 133, 1, 0.719)
}
